# Ignore Python bytecode
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore version control directories
.git/
.gitignore

# ignore environment variables
#.env

# ignore all files related to the chunker app, jupyter notebooks, and archives
chunker_app/
notebooks/
archives/

# ignore slack_bot.py run code
slack_bot.py

